<!DOCTYPE html>

<html lang="en">

    <link rel="stylesheet" href="custom.css">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="express.png">
        <title>Home</title>
    </head>

    <body>
        <main class="home">
            <h1 class="home__title">Welcome to Express & SCSS</h1>
            <img
                src="express.png"
                alt="express logo"
                class="home__logo"
            />
        </main>
    </body>

</html>